.data-info {
  /* background-image: url("go-vegan.jpg"); */
  background-color: green;
  max-width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  scrollbar-visibility: hidden;
}
